@import 'src/common/Style/variables';
@import 'src/common/Style/mixins';

.resumeBlock {
  background-color: #fff;
  padding: 40px 0;

  display: flex;
  justify-content: center;

  .resumeContainer {
    @include container();
    flex-direction: column;

    height: 100%;

    font-family: $fontFamily;

    .doubleContainer {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;

      height: 100%;
      width: 100%;

      .educationContainer {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 50%;
        padding: 10px;

        .h3 {
          font-size: 1.8rem;
          font-weight: 400;
          text-align: center;
        }
        @media screen and (max-width: 1200px) {
          width: 100%;
        }
      }
      .softSkillsContainer {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 50%;

        padding: 10px;
        .h3 {
          font-size: 1.8rem;
          font-weight: 400;
          text-align: center;
        }

        @media screen and (max-width: 1200px) {
          width: 100%;
        }
      }
    }
  }
}
