@import "src/common/Style/variables";
@import "src/common/Style/mixins";

.portfolioBlock {
    background-color: #f5f5f5;

    min-height: 350px;
    padding: 40px 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .container {
        @include container();
        flex-direction: column;

        height: 100%;

        .portfolio {
            column-count: 4;

            width: 100%;
            padding: 20px 0 0 75px;

            @media screen and (max-width: 1640px) {
                column-count: 3;
                padding: 20px 0 0 30px;
            }

            @media screen and (max-width: 1300px) {
                column-count: 2;

            }

            @media screen and (max-width: 800px) {
                    column-count: 1;
                padding: 20px 20px;
            }

        }
    }
}