@import "src/common/Style/variables";
@import "src/common/Style/mixins";

.header {
    background-color: $backgroundColor;

    height: 70px;

    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;

    &:after {
        content: "";
        position: absolute;

        border-bottom: 5px solid $textColorActive;
        width: 100%;

        bottom: -1px;
        left: 50%;
        transform: translate(-50%, 50%);
    }


    .nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 40%;

        .aHref {
            padding: 0 22px;
            color: $titleColor;
            font-size: 20px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: normal;
            text-transform: uppercase;
            text-decoration: none;

            &:hover {
                background-color: #2b2b2b;
                border-color: #2b2b2b;
                padding: 8px 12px;

                border-width: 2px;

                color: $textColorActive;
            }
        }
    }
}

