$titleColor: #494949;
$titleActiveColor: #C8EDE6;
$colorActive: #20c997;
$textColorActive: #ffffff;

$textColorH1: #414141;
$textColorH2: #bcbcbc;

$textColorH4: #7b7b7b;
$textColorH5:#919191;
$textColorP:#6a6a6a;
$textColorFooter:#929292;

$backgroundColor:#f5f5f5;
$backgroundColorMenu: #2b2b2b;
$backgroundColorBtn: #393939;

$colorMenu: #555555;
$colorMenuHeader: #999999;

$fontFamily: Poppins, sans-serif;