@import "src/common/Style/variables";
@import "src/common/Style/mixins";

.contactBlock {
  background-color: $backgroundColor;

  display: flex;
  justify-content: center;

  @include textStandard();

  .container {
    @include container();
    flex-direction: column;

    height: 100%;

    .containerMini {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      width: 100%;

      @media screen and (max-width: 1130px) {
        justify-content: center;
      }


      .contactContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 30%;

        @media screen and (max-width: 1130px) {
          align-items: center;
          width: 100%;
        }
      }

      .formContainer {
        min-width: 200px;
        width: 70%;

        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        padding: 5px;

        @media screen and (max-width: 1130px) {
            width: 100%;
        }

        .inputContainer {
          width: 50%;
          height: 51px;

          @media screen and (max-width: 1130px) {
            width: 100%;
            margin-top: 5px;
          }
        }

        .inputContainer input {
          border: 1px solid #ced4da;
          border-radius: 0.375rem;

          width: 97%;
          height: 51px;
          margin: 0 15px 15px 5px;
          padding: 0.81rem 0.96rem;

          color: #b3b3b3;
          font-size: 14px;
          font-weight: 300;
          line-height: 26px;
          letter-spacing: normal;
          font-family: $fontFamily;

        }

        .inputContainerError input {
          border: 1px solid #f30000;
          border-radius: 0.375rem;

          width: 97%;
          height: 51px;
          margin: 0 15px 15px 5px;
          padding: 0.81rem 0.96rem;

          color: #b3b3b3;
          font-size: 14px;
          font-weight: 300;
          line-height: 26px;
          letter-spacing: normal;
          font-family: $fontFamily;

        }

        .textareaContainer {
          border: 1px solid #ced4da;
          border-radius: 0.375rem;
          margin: 15px 5px;

          width: 100%;
          height: 150px;

        }

        .buttonContainer {
          text-align: center !important;
          width: 100%;



          .btn {
            background-color: $colorActive;
            border-color: $colorActive;
            border-radius: 50em;
            border-width: 0px;

            font-weight: 400;
            padding: 0.8rem 2.6rem;


            color: $textColorActive;
            font-family: $fontFamily;
            font-size: 1.2rem;

            &:hover {
              background-color: #0a7c59;
              border-color: #0a7c59;
            }
          }
        }
      }
    }
  }

}

.formContainer textarea {
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: normal;
  font-family: $fontFamily;

  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  padding: 0.81rem 0.96rem;

  width: 100%;
  height: 150px;

  resize: none;
}

.error {
  border: 1px solid #f30000;
}