@import 'src/common/Style/variables';
@import 'src/common/Style/mixins';

.title {
  @include text(#212529, 2rem, 600, 32px, normal);
  font-family: $fontFamily;

  margin: 0 0 50px 0;
  width: 100%;
  position: relative;

  &:after {
    content: '';
    position: absolute;

    border-bottom: 3px solid $titleActiveColor;
    width: 80px;

    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
