.freeLanceBlock {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
justify-content: center;
    text-align: center!important;


    margin: 0 auto;
    flex-wrap: wrap;
}

.button {
    height: 100%;
}

