@import 'src/common/Style/variables';
@import 'src/common/Style/mixins';

.container {
  background-color: $backgroundColor;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  @include textStandard();

  .main {
    @include container();

    height: 100%;

    .containerMain {
      height: 100%;
      width: 100%;

      margin: 0 auto;

      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      @media screen and (max-width: 970px) {
        justify-content: center;
        text-align: center;
      }

      .textBlock {
        margin: 0 0 180px 0;
        width: 50%;

        @media screen and (max-width: 970px) {
          width: 80%;
          margin: 0;
        }

        @media screen and (max-width: 430px) {
        }

        .p {
          font-weight: 500;
        }
        .h1 {
          color: $backgroundColorMenu;
        }

        .btn {
          border-color: $titleColor;
          border-radius: 50em;
          border-width: 2px;

          font-weight: 400;
          padding: 0.8rem 2.6rem;

          color: $titleColor;
          font-family: $fontFamily;
          font-size: 1.2rem;

          .aHref {
            padding: 0 22px;
            color: inherit;
            font-size: 26px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: normal;
            text-transform: uppercase;
            text-decoration: none;

            &:hover {
              color: $textColorActive;
            }
          }

          &:hover {
            background-color: $titleColor;
            border-color: $titleColor;

            color: $textColorActive;
          }

          @media screen and (max-width: 430px) {
            padding: 0.8rem 1.2rem;
          }
        }
      }

      .photoBlock {
        width: 30%;

        margin: 100px 0 180px 0;

        display: flex;
        align-items: center;
        justify-content: center;

        .photo {
          width: 450px;
          height: 450px;

          @media screen and (max-width: 1200px) {
            width: 320px;
            height: 320px;
          }

          @media screen and (max-width: 430px) {
            width: 230px;
            height: 230px;
          }
        }
      }

      @media screen and (max-width: 900px) {
        justify-content: center;
      }
    }
  }
}
