@import '~common/Style/variables';
@import '~common/Style/mixins';

.skill {
  width: 260px;
  min-height: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;

  white-space: pre-wrap;
  word-break: break-word;

  padding: 30px 10px 30px;
  margin: 5px;

  box-shadow: 0 1px 5px rgba(5, 5, 6, 0.15);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;

  .title {
    position: relative;
    @include text(#212529, 1.2rem, 700, 20px, normal);

    &:after {
      content: '';
      position: absolute;

      border-bottom: 3px solid $titleActiveColor;
      width: 80px;

      bottom: -10px;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }
  .icon {
    height: 60px;
    width: 60px;

    margin-right: 45px;
    margin-bottom: 10px;
  }
  .description {
    @include text(#212529, 1rem, 400, 24px, normal);
    text-align: center !important;
  }
}
