@import "src/common/Style/variables";
@import "src/common/Style/mixins";

.footerBlock {
    background-color: #fff;

    height: 72px;

    display: flex;
    justify-content: center;

    .footerContainer {
        background-color: $textColorActive;

        @include container();

        .rightsContainer {

        }

        .contactsContainer {
            padding: 0;
            list-style-type: none;



            .aHref {
                padding: 0 13px;
                color: $titleColor;
                font-size: 13px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: normal;
                text-transform: uppercase;
                text-decoration: none;

                &:hover {
                    color: #000000;
                }
            }
        }
    }
}






