.FooterBlock {
    background-color: gold;
    display: flex;
    justify-content: center;
}

.container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rights {

}


.contacts {

}